body{
  margin: 0;
}
/**
*
*Header --- //-----//--------//-------/
*
***/
/*-----Baner-------*/
#banner{
  width: 100%;
  height: 500px;
  margin: 0 0;
  background-color: green;
}
/**
*
*box-nav --- //-----//--------//-------/
*
***/
/*--------LOGO-----*/
#logo{
  width: 290px;
  height: 140px;
  margin-left: -185px;
  position: absolute;
  top: -70px;
  left: 50%;
  z-index: 20;
  border: 1px solid black;
  background-color: red;
}

#box-nav {
  background-color: black;
  width: 100%;
  height: 11px;
  position: absolute;
  left: 0px;
  top: 500px;
  z-index: 20;
}
/*-------nav------*/
/*----------------*/
/*----------------*/
#box-nav nav {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 6px;
  z-index: 20;
  background-color: blue;
}
/*------nav-ul-------*/
/*----------------*/
/*----------------*/
#box-nav nav ul{
  width: 30%;
  margin-right: 6%;
  padding-bottom: 10px;
  float: left;
}
/*------nav-ul-right---*/
/*----------------*/
/*----------------*/
#box-nav nav ul.right{
  padding-bottom: 10px;
  padding-right: 5%;
  float: right;
}
/*------nav-ul-left-------*/
/*-----------------------*/
/*-----------------------*/
#box-nav nav ul li{
  padding: 10px 0 0 5%;
  list-style: none;
  float: left
}

#box-nav nav ul.right li{
  padding: 10px 60px 0 0;
  list-style: none;
  float: right;
}

#box-nav nav ul li a{
  background-color: red;
  padding: 10px;
}
/**
*
*Classes --- //-----//--------//-------/
*
***/

/*------nav-fixes--------*/
/*-----------------------*/
/*-----------------------*/
.nav-fixed {
    position:fixed !important;
    top: 0 !important;
    z-index: 99;
}
.nav-fixed #logo{
  top:0 !important;
}
/*------clearfix---------*/
/*-----------------------*/
/*-----------------------*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.group {
    zoom: 1;
    /* IE6&7*/
}
