/**
* Defaults style
* ----------------------------------
*/
body {
    margin: 0;
    padding: 0;
    color: #CECECE;
    font-size: 1.18430792vw;/*---16/1351--*/
    font-family: sans-serif,serif,inherit;
}
h1{
  border-bottom: 1px solid white ;
  font-size: 25px;
  text-align:center;
}
iframe{
  border: 0;
}
/**
* Footer always on
* ----------------------------------
*/
body, html {
  height: 100%;
  margin: 0;
}

#main-content {
  width: 100%;
  min-width: 300px;
  padding-top: 2%;
  position: relative;
  background: #000 url(../images/LoL-Background.jpg) no-repeat center;
  background-size:cover;
  background-attachment: fixed;
}

* html #main-content {
    height: 100%; /*IE6*/
}

#main-footer {
  background: #000 url(../images/5.jpg) repeat top right;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #FFF;
}
/**
*
*Header --- //-----//--------//-------/
*
***/
/*-----Baner-------*/
#banner{
  width: 100%;
  min-width: 300px;
  height: 37.009622502vw; /*----500/1351-----*/
  background-color: black;
}

#banner img{
  width: 101%;
  min-width: 303px;
  height: 37.009622502vw; /*----500/1351-----*/
  position: absolute;
  left: -1%;
}
/**
*
*box-nav --- //-----//--------//-------/
*
***/
/*--------LOGO-----*/
#logo{
  width: 200%;
  height: 13vw;
  position: relative;
  /*margin-left: -4.8%;
  position: absolute;*/
  top: -230%;
  left: -45%;
/*  left: 52%;*/
}

#box-nav {
  background: #000 url(../images/border.png) repeat top left;
  min-width: 300px;
  width: 100%;
  height: 1vw;
  position: absolute;
  left: 0px;
  z-index: 9999;
}
/*-------nav------*/
/*----------------*/
/*----------------*/
#box-nav nav {
  width: 92.524056255%; /*--1250/1351----*/
  min-width: 300px;
  height:9vw;
  margin: 0 auto;
  top: 6px;
  background: transparent url(../images/navbar.png) no-repeat center;
  background-size: 100% 100%;
}

/*------nav-ul-------*/
/*----------------*/
/*----------------*/
#box-nav nav ul{
  width: 80%;
  margin-top: 1%;
  padding-left:11%;
  float: left;
  list-style: none;
}
/*------nav-ul-left-------*/
/*-----------------------*/
/*-----------------------*/
#box-nav nav ul li a{
  text-align: center;
  margin-right: 6%;
  height: 2.4vw;
  width: 8%;
  float: left;
  text-decoration: none;
  color: white;
  font-size: 1.066666667em;/*-----16/15-----*/
  font-family:sans-serif;
}
/**
**content --- //-----//--------//-------/
*
***/
#content{
  width: 85%;
  height: 100%;
  position: relative;
  margin: 10% 5% 0 5%;
  padding: 5% 2%;
  background: rgba(0,0,0,0.85);
}

#content article{
  margin: 5% 10%;
}

#content img{
  margin: 0 13%;
}
/*------home--------*/
/*-----------------------*/
/*-----------------------*/
#article-home{
  padding-right: 380px;
}
/*------games--------*/
/*-----------------------*/
/*-----------------------*/
#article-games img{
  margin-left:4%;
}

/*------teams--------*/
/*-----------------------*/
/*-----------------------*/

#teams li{
  border-bottom: 1px solid white;
  height: 100%;
  list-style: none;
}

#teams li h3{
  font-size: 30px;
  font-style: oblique;
  text-decoration:underline;
}
#teams li img{
  float: left;
  width: 20%;
  height: 20%;
  margin-bottom: 3%;
  margin-right: 5%;
}

#teams li p{
  margin-top: 5%;
}

#article-games{
	padding-left:270px;
}

#article-games h1{
	padding-top: 160px;
}
/*------about--------*/
/*-----------------------*/
/*-----------------------*/
#article-about img{
  width: 50%;
  height: 20vw;
  margin: 0 25%;
  margin-bottom: 20px;
}

#article-about p{
  font-size: 1.3vw;
}
#article-about h1{
  font-size: 1.8vw;
}
#article-about h2{
  font-size: 1.5vw;
}
/**
*
*aside --- //-----//--------//-------/
*
***/
#home-aside{
  width: 300px;
  height: 100%;
  float:right;
  padding: 0 30px;
  border-left: 1px solid white;
}
/**
*
*aside --- //-----//--------//-------/
*
***/

/*------games--------*/
/*-----------------------*/
/*-----------------------*/

#games-aside{
  position: absolute;
  width: 22%;
  bottom: 92%;
  margin: 0 2%;
  border-right: 1px solid white;
}
#nav-aside ul{
  list-style: none;
  padding: 10px;
}
#nav-aside ul li {
  margin: 40px 0;
}

#nav-aside ul li a{
  text-decoration: none;
  font-size: 18px;
  color: #CECECE;
  border: 1px solid white;
}
/*------home-------*/
/*-----------------------*/
/*-----------------------*/

#home-aside ul li{
  list-style: none;
  margin-top: 40px;
  border-bottom: 1px solid white;
}

#home-aside ul li a{
  text-decoration: none;
}
/***
*
*Page - form --- //-----//--------//-------/
*
***/
/*------Form--------*/
/*-----------------------*/
/*-----------------------*/
#form{
  padding: 2% 30%;
}
#box-form{
  border: 1px solid white;
  padding: 15px;
  background: #000;
}
label,input,button{
  display:block;
  border-radius:8px;
  padding:4px;
}
label[for=name],label[for=email],input[for=name],input[for=email]{
  display: inline-block;
}
#name,#email{
  margin-bottom: 20px;
}
textarea{
  border-radius:8px;
  width: 90%;
  margin-bottom: 3%;
}

/**
*
*footer --- //-----//--------//-------/
*
***/

/*------main-footer--------*/
/*-----------------------*/
/*-----------------------*/
#main-footer img{
  height: 4vw;
  width: 13.323464101%; /*-----180/1351-----*/
  float: left;
  padding: 2% 1% 1% 10%;
}

#main-footer p{
  margin: 3% 0 0 30%;
}

/*------footer-home--------*/
/*-----------------------*/
/*-----------------------*/

#footer-home{
  border-top: 1px solid white;
  position: absolute;
  bottom: 0;
}
/***
*
*Canvas-footer --- //-----//--------//-------/
*
***/
#clock{
  background-color: #000;
  float: right;
  margin: 1% 3%;
  width:16%;
  height:5vw;
}
/***
*
*Classes --- //-----//--------//-------/
*
***/
/*------nav-active--------*/
/*-----------------------*/
/*-----------------------*/
.btn{
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-weight:700;
  padding:  1%;
  cursor: pointer;
}

.btn-blue{
  background:#363636;
  color: #FFF;
  box-shadow:0 0.5vw 0 #4F4F4F; /*----verificar aqui a melhor opção de cor para os botões----*/
  border-radius:16%;
  border:1px solid white;
}

.btn-blue:hover{
  background:#4F4F4F;
  box-shadow:0 0.5vw 0 #363636;
  border-radius:16%;
  border:1px solid white;
}

.btn-blue:active{
  position:relative;
  top:5px;
  box-shadow:none;
  border-radius:16%;
  border:1px solid white;
}
.btn-blue.active{
  background:#696969;
  box-shadow:0 0.5vw 0 #4F4F4F;
}
/*------nav-fixes--------*/
/*-----------------------*/
/*-----------------------*/
.nav-fixed {
    position:fixed !important;
    top: 0 !important;
}
.nav-fixed #logo{
  animation-name: logoSmall;
  animation-duration: 1s;
  height: 7vw;
  top:0;
}
#logo.logo-absolute{
  animation-name: logoBig;
  animation-duration: 1s;
}
.aside-fixed{
  position: fixed !important;
  left: 6.70% !important;
  bottom: 16% !important;
}
/*------clearfix---------*/
/*-----------------------*/
/*-----------------------*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.group {
    zoom: 1;
    /* IE6&7*/
}

/*------text----------*/
/*-----------------------*/
/*-----------------------*/

.text-center{
  text-align: center;
}


.indentation{
    font-family: "Times New Roman";
    text-align: justify;
    font-size: 12pt;
    text-indent: 15mm;
	  line-height:150%;
}

.strong{
  font-size: 13pt;
  font-weight: bolder;
}

.link-White{
  color: white;
}
/***
*
*Animation --- //-----//--------//-------/
*
***/
@keyframes logoBig{
  0%   {top:0;height: 7vw}
  100% {top:-230;height: 13vw}
}


@keyframes logoSmall{
  0%   {top:-230%;height: 13vw}
  100% {top:0;height: 7vw}
}
