@media screen and (max-device-width: 550px) {
  #article-about p{
    font-size: 10px;
  }
  #article-about h1{
    font-size: 14px;
  }
  #article-about h2{
    font-size: 11px;
  }
}

@media screen and (max-width: 550px) {
  #article-about p{
    font-size: 10px;
  }
  #article-about h1{
    font-size: 14px;
  }
  #article-about h2{
    font-size: 11px;
  }
}
