@media screen and (max-width: 600px) {
  #article-about p{
    font-size: 10px;
  }
  #article-about h1{
    font-size: 14px;
  }
  #article-about h2{
    font-size: 11px;
  }
}

@media screen and (max-device-width: 500px) {
  #article-about p{
    font-size: 16px;
  }
  #article-about h1{
    font-size: 20px;
  }
  #article-about h2{
    font-size: 18px;
  }
}
